<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Setting up a MeshCore-based Ultrasonic Water Level Sensor</title>
  <link href="/css/beer.css" rel="stylesheet">
  <link href="/css/flasher.css" rel="stylesheet">
  <script type="module" src="/flasher.js"></script>
</head>

<body class="dark">
  <div id="app" v-cloak>
    <div class="snackbar" :class="snackbar.class" popover>
      <i v-if="snackbar.icon">{{ snackbar.icon }}</i>
      <span v-html="snackbar.text"></span>
    </div>
    <div class="flash-container" data-iframe-height>
      <div v-if="flashing.active">
        <header>
          <nav>
            <i>developer_board</i>
            <span class="small">{{ selected.device.name }}</span>
            <i>chevron_right</i>
            <i>{{ selected.firmware.icon || config.role[selected.firmware.role].icon }}</i>
            <span class="small strong">{{ selected.firmware.title || config.role[selected.firmware.role].title }}</span>
          </nav>
        </header>
        <article v-if="flashing.error">
          <div class="row">
            <div class="max">
              <h6>Flashing failed!</h6>
              <p><span>{{ flashing.error }}</span></p>
            </div>
          </div>
          <nav class="small-margin">
            <button @click="retry">
              <i>bolt</i>
              <span>Retry</span>
            </button>
            <button @click="close">
              <i>arrow_back</i>
              <span>Close</span>
            </button>
          </nav>
        </article>
        <article v-else>
          <div class="row">
            <div class="max" v-if="flashing.percent < 100">
              <h6><progress class="circle small"></progress> Flashing...</h6>
              <p>Please do not disconnect the device</p>
            </div>
            <div class="max" v-else>
              <h6>Flashing complete!</h6>
              <nav class="small-margin">
                <button @click="openSerialCon()">
                  <i>terminal</i>
                  <span>Open Console</span>
                  <div class="tooltip left max">Open the serial console to configure this device</div>
                </button>
                <button @click="close">
                  <i>arrow_back</i>
                  <span>Close</span>
                </button>
                <button @click="retry">
                  <i>bolt</i>
                  <span>Flash Again</span>
                </button>
              </nav>
            </div>
          </div>
          <div class="autoscroller">
            <pre class="term" v-if="flashing.log">{{ flashing.log }}</pre>
          </div>
          <nav>
            <progress :value="flashing.percent" max="100"></progress>
          </nav>
        </article>
      </div>
      <div v-else-if="selected.firmware">
        <header>
          <nav>
            <button class="circle transparent" @click="stepBack"><i>arrow_back</i></button>
            <i>developer_board</i>
            <a class="small" href="javascript:;" @click="stepBack">{{ selected.device.name }}</a>
            <i>chevron_right</i>
          </nav>
          <article class="no-margin">
            <ul class="list">
              <li>
                <i>{{ getRoleFwValue(selected.firmware, 'icon') }}</i>&nbsp;
                <div class="max">
                  <h6 class="small strong">{{ getRoleFwValue(selected.firmware, 'title') }} {{ getRoleFwValue(selected.firmware, 'subTitle') }}</h6>
                  <span class="text-wrap">{{ getRoleFwValue(selected.firmware, 'tooltip') }}</span>
                </div>
              </li>
            </ul>
          </article>
          <div v-if="getNotice(selected)" v-html="getNotice(selected)"></div>
          <nav class="version">
            <div class="field label suffix border small">
              <select v-model="selected.version">
                <template v-for="(version, versionName) in selected.firmware.version">
                  <option v-if="version.files.length > 0">{{ versionName }}</option>
                </template>
              </select>
              <label>Version</label>
              <i>arrow_drop_down</i>
            </div>
            <div class="max pre" v-if="getSelFwValue('notes')">
              <b>Changelog:</b><br>
              <span v-html="formatChangeLog(getSelFwValue('notes'))"></span>
            </div>
          </nav>
        </header>
        <ul class="list border" v-if="selected.device.type === 'esp32'">
          <li>
            <label class="checkbox">
              <input type="checkbox" v-model="selected.wipe">
              <span>Erase device</span>
              <div class="tooltip right max">
                DO NOT carry out a full erase if you are simply updating your MeshCore device,
                otherwise it will erase your MeshCore identity for that device.
              </div>
            </label>
          </li>
        </ul>
        <template v-if="selected.device.type === 'nrf52'">
          <div class="small-space"></div>
          <button @click="dfuMode" :disabled="selected.nrfEraserFlashing || !flashing.supported">
            <i>{{ flashing.dfuComplete ? 'check' : 'code' }}</i>
            <span>{{ flashing.dfuComplete ? 'DFU mode active' : 'Enter DFU mode' }}</span>
            <div class="tooltip right max" v-if="flashing.supported">
              Enter DFU mode - this mode enables you to flash your firmware.
              If you did not trigger the DFU mode manually, please click this button.
            </div>
            <div class="tooltip right max" v-else>
              Your browser doesn't support Web Serial API. Please use Chrome or Edge on Desktop
            </div>
          </button>
          <button @click="nrfErase" :disabled="!flashing.supported || selected.nrfEraserFlashing || selected.nrfEraserFlashingPercent > 0">
            <i v-if="selected.nrfEraserFlashingPercent === 100">check</i>
            <progress v-else-if="selected.nrfEraserFlashing" class="circle small"></progress>
            <i v-else>delete_forever</i>

            <span v-if="selected.nrfEraserFlashingPercent === 100">Flash Erased!</span>
            <span v-if="selected.nrfEraserFlashingPercent > 0">Flashing erase firmware: {{selected.nrfEraserFlashingPercent}}%</span>
            <span v-else-if="selected.nrfEraserFlashing">Connecting...</span>
            <span v-else>Erase Flash</span>

            <div class="tooltip right max" v-if="flashing.supported">
              Flash special firmware that will format your flash and erase all user data.<br>
              Click <b>Enter DFU mode</b> before erasing, if you did not trigger the DFU mode manually
            </div>
            <div class="tooltip right max" v-else>
              Your browser doesn't support Web Serial API. Please use Chrome or Edge on Desktop
            </div>
          </button>
        </template>
        <div class="medium-space"></div>
        <nav class="small-margin">
        <template v-if="canFlash(selected.device)">
          <button @click="flashDevice" :disabled="selected.nrfEraserFlashing || !flashing.supported">
            <i>bolt</i>
            <span>Flash!</span>
            <div class="tooltip right max" v-if="flashing.supported">
              Upload the firmware into your device. Existing firwmare will get overwritten.
              <span v-if="selected.device.type === 'nrf52'">
                If you did not trigger DFU mode manually, use the <b>Enter DFU mode</b> before flashing
              </span>
            </div>
            <div class="tooltip right max" v-else>
              Your browser doesn't support Web Serial API. Please use Chrome or Edge on Desktop
            </div>
          </button>
          <div class="max"></div>
        </template>
        <button data-ui="#down" class="active" v-if="!getSelFwValue('customFile')">
          <i>download</i>
          <span>Download</span><i>arrow_drop_down</i>
          <menu class="left no-wrap" id="down" data-ui="#down">
            <li v-for="file in getSelFwValue('files')">
              <a data-ui="menu-selector" :href="getFirmwarePath(file)" download>{{ file.title }}</a>
            </li>
            <li v-if="selected.device.type === 'nrf52' && selected.device.erase">
              <a data-ui="menu-selector" :href="`${config.staticPath}/${selected.device.erase.replace('.zip', '.uf2')}`" download>{{ selected.device.erase.replace('.zip', '.uf2') }}</a>
            </li>
            <li v-if="selected.device.type === 'nrf52' && selected.device.bootloader">
              <a data-ui="menu-selector" :href="`${config.staticPath}/${selected.device.bootloader}`" download>{{ selected.device.bootloader }}</a>
            </li>
          </menu>
          <div class="tooltip left max">Download a copy of the firmware files for use with other flashers</div>
        </button>
        </nav>
      </div>
      <div v-else-if="selected.device">
        <header>
          <nav>
            <button class="circle transparent" @click="stepBack"><i>arrow_back</i></button>
            <i>developer_board</i>
            <span class="small strong">{{ selected.device.name }}</span>
          </nav>
          <nav class="no-margin">
            <h6 class="small max">Choose role</h6>
          </nav>
        </header>
        <ul class="list border">
          <template v-for="firmware in selected.device.firmware">
            <li v-if="firmwareHasData(firmware)" :class="getRoleFwValue(firmware, 'class')">
              <button class="transparent" @click="selected.firmware = firmware">
                <i>{{ getRoleFwValue(firmware, 'icon') }}</i>
                <span>{{ getRoleFwValue(firmware, 'title') }} {{ getRoleFwValue(firmware, 'subTitle') }}</span>
                <div class="tooltip right max" v-if="getRoleFwValue(firmware, 'tooltip')" v-html="getRoleFwValue(firmware, 'tooltip')"></div>
              </button>
            </li>
          </template>
        </ul>
      </div>
      <div v-else>
        <header>
          <nav class="brand-row">
            <img src="/img/rural_rivers_project.png" alt="Rural Rivers Project" class="brand-logo brand-logo--rrp">
            <img src="/img/meshcore.svg" alt="MeshCore" class="brand-logo brand-logo--meshcore">
          </nav>
          <nav>
            <h3 class="max page-main-title">Setting up a MeshCore-based Ultrasonic Water Level Sensor</h3>
          </nav>
        </header>

        <div class="toc" role="navigation" aria-label="Table of contents">
          <div class="toc-heading">Contents</div>
          <ol class="toc-list">
            <li><a href="#overview">Overview</a></li>
            <li><a href="#flashing">{{ (config.flashingSection && config.flashingSection.title) || 'Flashing the Firmware' }}</a></li>
            <li v-if="config.contactExchange"><a href="#contact-exchange">{{ config.contactExchange.title }}</a></li>
            <li v-if="config.configuration"><a href="#configuration">{{ config.configuration.title }}</a></li>
          </ol>
        </div>

        <section class="page-section" id="overview">
          <h4 class="section-title">1. Overview</h4>
          <article v-if="config.explainer" class="explainer">
            <h5 v-if="config.explainer.title" class="small">{{ config.explainer.title }}</h5>
            <div v-if="explainerSvgInline" class="explainer-image inline-svg svg-desktop" v-html="explainerSvgInline"></div>
            <div v-if="explainerSvgMobileInline" class="explainer-image inline-svg svg-mobile" v-html="explainerSvgMobileInline"></div>
            <img v-else-if="!explainerSvgInline && config.explainer.image" :src="config.explainer.image" class="explainer-image" alt="System overview">
            <div v-if="config.explainer.body" v-html="config.explainer.body"></div>
          </article>
        </section>

        <section class="page-section" id="flashing">
          <h4 class="section-title">2. {{ config.flashingSection && config.flashingSection.title || 'Flashing the Firmware' }}</h4>
          <div v-if="config.flashingSection && config.flashingSection.intro" v-html="config.flashingSection.intro"></div>
          <ul class="list border">
            <template v-for="(deviceGroup, type) in devices">
              <template v-for="device in deviceGroup">
                <li v-if="device.firmware.length > 0">
                  <button class="device-select transparent" @click="selected.device = device">
                    <img class="icon" :title="device.type" :src="`/img/${device.type}.svg`" v-if="device.type !== 'noflash'">
                    <i v-else>developer_board</i>
                    <span>{{ device.name }}</span>
                    <div class="tooltip right max" v-if="device.tooltip" v-html="device.tooltip"></div>
                    <div class="max"></div>
                  </button>
                  <div class="max"></div>
                  <img class="icon" :src="device.icon" v-if="device.icon">
                </li>
              </template>
            </template>
            <li>
              <label>
                <i>unknown_document</i>&nbsp;
                <strong style="font-size: small;">Custom Firmware</strong>
                <div class="tooltip right max">
                  Flash a firmware file from your computer.
                  Supports <b>.bin</b> for ESP32 devices and OTA <b>.zip</b> for nRF52 devices.
                </div>
                <input type="file" accept=".zip,.bin" @change="customFirmwareLoad">
              </label>
            </li>
          </ul>
        </section>

        <section v-if="config.contactExchange" class="page-section" id="contact-exchange">
          <h4 class="section-title">3. {{ config.contactExchange.title }}</h4>
          <div v-if="config.contactExchange.content" v-html="config.contactExchange.content"></div>
        </section>

        <section v-if="config.configuration" class="page-section" id="configuration">
          <h4 class="section-title">4. {{ config.configuration.title }}</h4>
          <nav class="small-margin">
            <button @click="openSerialCon()" :disabled="!flashing.supported">
              <i>terminal</i>
              <span>Open Serial Console</span>
              <div class="tooltip right max" v-if="!flashing.supported">Web Serial requires Chrome or Edge on Desktop.</div>
            </button>
          </nav>
          <div v-if="config.configuration.intro" v-html="config.configuration.intro"></div>
          <template v-if="config.configuration.helpText">
            <h5>Help Menus</h5>
            <p>Reference copies of each device's <code>help</code> output — the same list you'll see if you type <code>help</code> in the console.</p>
            <div class="help-grid">
              <div v-if="config.configuration.helpText.sender" class="help-card">
                <h6 class="small strong"><i>sensors</i>&nbsp;Sender — <code>help</code></h6>
                <pre class="help-output">{{ config.configuration.helpText.sender }}</pre>
              </div>
              <div v-if="config.configuration.helpText.receiver" class="help-card">
                <h6 class="small strong"><i>cloud_upload</i>&nbsp;Receiver — <code>help</code></h6>
                <pre class="help-output">{{ config.configuration.helpText.receiver }}</pre>
              </div>
            </div>
          </template>
          <div v-if="config.configuration.commonSettings" v-html="config.configuration.commonSettings"></div>
        </section>

      </div>
    </div>
    <div v-if="serialCon.opened" class="overlay active">
      <datalist id="command-db">
        <option v-for="(desc, command) in commandReference" :value="command">{{ desc }}</option>
      </datalist>
      <header>
        <nav>
          <button class="circle transparent" @click="closeSerialCon()"><i>arrow_back</i></button>
          <h6 class="small max">Serial Console</h6>
        </nav>
      </header>
      <pre class="console" ref="consoleWindow" tabindex="0" @mouseup="consoleMouseUp">
        <code>{{ serialCon.content }}</code>
        <div class="holder">
          <span>&gt;</span>
          <input ref="consoleEditBox" class="console-input" type="text" v-model="serialCon.edit" @keydown.enter.prevent="sendCommand(serialCon.edit)" list="command-db">
        </div>
      </pre>
    </div>
  </div>
  <script src="/lib/iframeResizer.contentWindow.min.js"></script>
</body>
</html>